/* Write your CSS here */

.list-container {
  list-style-type: none;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  margin: 20px;
  width: 200px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.starred-button {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.apptmnt-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

.apptmnt-date {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 12px;
  margin: 0px;
}

.star {
  width: 20px;
  height: 20px;
  background: transparent;
  align-self: center;
  border: none;
  outline: none;
}
